<!DOCTYPE html>
<html lang="en">
<head>
    <title>pastebin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.js"></script>

    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16"/>
</head>
<body>

<div class="container" id="main_container">
    <h2>{{token}}</h2>

    <form role="form">
        <div class="form-group">
            <label for="content">write here, do cmd+enter to save:</label>
            <textarea class="form-control" rows="25" id="content">{{content}}</textarea>
        </div>
    </form>

    <div class="alert alert-info" id="upload_area">
        <p class="text-center">
            <span class="glyphicon glyphicon-ice-lolly"></span>
            upload your stuff here
            <span class="glyphicon glyphicon-ice-lolly-tasted"></span>
        </p>
    </div>

    {{#files}}
    <p>File: <a href="{{token}}/file/{{ind}}">{{filename}}</a> <a href="#" id="deletekey" onclick="deleteFile('{{token}}/file/{{ind}}')" class="glyphicon glyphicon-remove"></a> </p>
    {{/files}}
    {{^files}}
    <p>No files here bro!</p>
    {{/files}}
</div>

<script>
    var dz = new Dropzone("div#upload_area", {url: "{{token}}/file"});
    dz.on("complete", function (msg) {
        location.reload(true);
    });

    var textarea = $("#content");
    textarea.on("input", function (event) {
        textarea.css("-webkit-box-shadow", "inset 0 3px 3px rgba(100,0,0,.075),0 0 50px rgba(100,0,0,.6)");
        textarea.css("box-shadow", "inset 0 3px 3px rgba(100,0,0,.075),0 0 50px rgba(100,0,0,.6)");
        textarea.css("border-color", "blue");
        textarea.css("outline", "0");
    });

    // what to do when text area goes out of focus
    textarea.on("focusout", function (msg) {
        sendText();
    });

    textarea.keydown(function (event) {

        if ((event.metaKey || event.ctrlKey) && event.keyCode == 13) {
            sendText();
        }
    });

    function deleteFile(path){
        var ajaxobj = $.ajax(
                {
                    type: 'DELETE',
                    url: path,
                    contentType: 'application/json; charset=utf-8'
                }
        )
                .done(function (msg) {
                    location.reload(true);
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    alert(xhr.responseText);
                });
    };

    function sendText() {
        var text = $("#content").val();

        var ajaxobj = $.ajax(
                {
                    type: 'POST',
                    url: '{{token}}',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({token: "{{token}}", content: text})
                }
        )
                .done(function (msg) {
                    textarea.css("-webkit-box-shadow", "inset 0 3px 3px rgba(0,100,0,.075),0 0 50px rgba(0,100,0,.6)");
                    textarea.css("box-shadow", "inset 0 3px 3px rgba(0,100,0,.075),0 0 50px rgba(0,100,0,.6)");
                    textarea.css("border-color", "green");
                    textarea.css("outline", "0");
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    alert(xhr.responseText);
                });
    }

</script>

</body>
</html>
